<div class="col-md-4 offset-md-4 mt-4">
  <h2 class="text-center">Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-error *ngIf="registerForm.get('username').errors?.serverError">
      {{ registerForm.get('username').errors?.serverError }}
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="username" type="text" formControlName="username">
    </mat-form-field>
    
    <mat-error *ngIf="registerForm.get('name').errors?.serverError">
      {{ registerForm.get('name').errors?.serverError }}
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput name="name" type="text" formControlName="name">
    </mat-form-field>
    

    <mat-error *ngIf="registerForm.get('surname').errors?.serverError">
      {{ registerForm.get('surname').errors?.serverError }}
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Surname</mat-label>
      <input matInput name="surname" type="text" formControlName="surname">
    </mat-form-field>
   
    <mat-error *ngIf="registerForm.get('password').errors?.serverError">
      {{ registerForm.get('password').errors?.serverError }}
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    
    <mat-error *ngIf="registerForm.get('confirmPassword').errors?.serverError">
      {{ registerForm.get('confirmPassword').errors?.serverError }}
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
   
    <mat-error *ngIf="registerForm.get('email').errors?.serverError">
      {{ registerForm.get('email').errors?.serverError }}
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name="email" type="text" formControlName="email">
    </mat-form-field>
    
    <mat-checkbox formControlName="organizer">Register as <i>Organizer</i></mat-checkbox>
    <button mat-raised-button class="mt-3">Register</button>
  </form>
</div>