<div class="container-fluid" style="min-height: 80%;">
    <div class="row">
        <div class="col-8">
            <h1 style="margin-left: 1em; margin-top: 1em;">Welcome , to our event network</h1>
            <p style="margin-left: 2em;
            font-style: oblique;">We work hard to make your life easier and funnier! You can find a pleasant event to enjoy with your or new friends.</p>
        </div>
       
    </div>
    <div class="row justify-content-center">
        <img style="width: 90%" src="/assets/TEAM_WORK.jpg">
    </div>
</div>
