<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <img src="assets/home/dashboard.png" class="w-100" />
        </div>
        <div class="col-sm-12 col-md-5 my-auto text-left">
            <h1>Enjoy<span>It</span></h1>
            <p>Doing things that you love with other people , is much funnier<br>We will help you to find what to do<br>
            You can easily start <a [routerLink]="['/register']">Sign Up</a> if you are new , otherwise simply <a [routerLink]="['/login']">Login</a></p>
            <div class="w-50">
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>
</div>