<div class="container">
    <div class="row content-justify-left">
        <div class="col-12 w-25 mt-2"><button [routerLink]="['/admin/locations/new']" class="btn btn-success btn-sm float-right" title="Add Location">New
                Location<span class="material-icons text-white">
                    add_location_alt
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-10 col-lg-10">
           <app-locations></app-locations>
        </div>
        <div class="col"></div>
    </div>
</div>