
<mat-table [dataSource]="users">
    <!-- User name Definition -->
    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
    </ng-container>

    <!-- Age Definition -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Title Definition -->
    <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button *ngIf="row.banned" (click)="authorize(row)" mat-button class="btn btn-success">Authorize</button>
            <button *ngIf="!row.banned" (click)="ban(row)" mat-button class="btn btn-danger">Ban</button>
        </mat-cell>
    </ng-container>


    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['username','name','surname', 'email','edit']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['username','name','surname', 'email','edit']"></mat-row>
</mat-table>