<div class="col-md-4 offset-md-4 mt-8">
    <form [formGroup]="editEventForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
        <mat-error *ngIf="editEventForm.get('title').errors?.serverError">
            {{ editEventForm.get('title').errors?.serverError }}
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
                <input matInput type="text" formControlName="location">
        </mat-form-field>

        <mat-error *ngIf="editEventForm.get('location').errors?.serverError">
            {{ editEventForm.get('location').errors?.serverError }}
        </mat-error>

        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let category of eventCategories" [value]="category">
                    {{category.replace('_',' ')}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="editEventForm.get('category').errors?.serverError">
            {{ editEventForm.get('category').errors?.serverError }}
        </mat-error>

        <mat-form-field appearance="outline">
            <mat-label>Descritpion</mat-label>
            <input matInput type="description" formControlName="description">
        </mat-form-field>
        <mat-error *ngIf="editEventForm.get('description').errors?.serverError">
            {{ editEventForm.get('description').errors?.serverError }}
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Choose the start date</mat-label>
            <input formControlName="startDate" matInput type="datetime-local">
        </mat-form-field>
        <mat-error *ngIf="editEventForm.get('startDate').errors?.serverError">
            {{ editEventForm.get('startDate').errors?.serverError }}
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Choose the end date</mat-label>
            <input formControlName="endDate" matInput type="datetime-local">
        </mat-form-field>
        <mat-error *ngIf="editEventForm.get('endDate').errors?.serverError">
            {{ editEventForm.get('endDate').errors?.serverError }}
        </mat-error>
        <br>
        <input type="hidden" formControlName="id" />
        <button mat-raised-button class="mt-3" (click)="edit()">Edit</button>
    </form>
</div>