<div class="container">
    <div class="row content-justify-left">
        <div class="col-12 w-25 mt-2"><button [routerLink]="['/locations/new']"
                class="btn btn-success btn-sm float-right" title="Add Location">New
                Location<span class="material-icons text-white">
                    add_location_alt
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-10 col-lg-10">
            <mat-table [dataSource]="locations">
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="locationCategory">
                    <mat-header-cell *matHeaderCellDef> Location Category </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.locationCategory}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="dropdown">
                            <a class="dropright" title="More" id="{{'dropdownActions'+row.id}}" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="material-icons">
                                    more_horiz
                                </span>
                            </a>
                            <div class="dropdown-menu" attr.aria-labelledby="{{'dropdownActions'+row.id}}">
                                <a class="dropdown-item" (click)="edit($event,row.id)">Edit</a>
                                <a *ngIf="roles.indexOf('ADMIN') >= 0" class="dropdown-item"
                                    (click)="remove($event,row.id)">Remove</a>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="['city','name', 'locationCategory','actions']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['city','name', 'locationCategory','actions']"></mat-row>
            </mat-table>
        </div>
        <div class="col"></div>
    </div>
</div>